* {
  margin: 0;
  padding: 0;
}

body {
  margin:0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 17px;
  line-height: 1.6;
  background-color: #5C79A1;
}


#showcase {
  background-image: url(../imgs/index/kamII_beach_sunset.jpg);
  height: 65vh; /*view port units (100 units in a screen)*/
  background-size: cover;
  background-position: center;
  display: flex; /*displays flex but default is all in one row*/
  flex-direction: column; /*changes flex to column*/
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20; /* keeps text off sides when window shrinks - 0 top/bottom, 20 left/right*/
  line-height: 1.2;
}

#showcase h1 {
  font-size: 80px;
  color: #fff;
  text-shadow: 5px 5px 10px black;
}
